body {
	font: normal 1em "Avenir Next", Helvetica, Arial, sans-serif;
	margin: 0px;
	padding: 0px;
	color: #4c4c4c;
	background-color: #f5f5f5;
	text-align: center;
}
#navigation {
	margin-top: 40px;
	margin-left: 0;
	margin-right: auto;
	width: 160px;
	font-size: 1.17em;
	float: left;
	text-align: right;
	text-transform: uppercase;
}
#navigation a{
	display: block;
	margin-bottom: 20px;
	width: 100%;
}
#box {
	margin: 20px auto;
	text-align: left;
	max-width: 1000px;
}
#content {
	width: 600px;
	padding : 20px 10px;
	margin: 20px auto;
	line-height: 1.5em;
	text-align: left;
}
#footer {
	width: 600px;
	clear: both;
	height: 21px;
	min-height: 21px;
}
#footer-text {
	padding-top: 6px;
	font-size: 14px;
}
#head {
	height: 130px;
	min-height: 130px;
	width: 100%;
	background-color: #962d3e;
	text-align: left;
}
#head-content {
	width: 650px;
	margin: 0px auto;
}
#head #about {
	width: 590px;
	margin: 0px auto;
	padding-top: 30px;
}
#head h1 {
	color: #f5f5f5;
	font-size: 1.17em;
}
h4 {
	color: #4c4c4c;
	font-size: 0.8em;
	font-weight: normal;
}
#head p {
	color: #f5f5f5;
	margin: 0px;
	margin-top: 5px;
}
/*Links*/
a {
	color: #962d3e;
	text-decoration: none;
}
a:hover {
	color: #000;
	text-decoration: underline;
}
blockquote {
	/*margin-left: 0px;*/
	margin: 1.5em 0px;
	padding: .5em 10px;
	/*background-color: #fff;*/
	/*width: 600px;*/
	quotes: "\201C""\201D""\2018""\2019";
	border-left: 10px solid #ccc;
}
code {
	background-color: #FFF;
	font: normal 1em Monaco, "Courier New", Courier;
	border: 1px solid #ccc; 
}
.highlight {
	padding: .5em 10px;
	border: 1px solid #ccc; 
	overflow: auto;
}
div.highlight code {
	font-family: Monaco, "Courier New", Courier;
	font-size: 10pt;
	border: none;
	line-height: 0px;
}