---
layout: default
title: Chang Liu
---

{% for post in site.posts limit:3 %}
	<article>
		<div class="item">
			<h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
			<h4><strong>Date:</strong> {{ post.date | date_to_string }}  <strong>Last Modified:</strong> {{ post.modified | date_to_string }}</h4>
			<h4>
			{% if post.tags %}
				<strong>Tag: </strong>
				{% for tag in post.tags %}
					#{{ tag }}
				{% endfor %}
			{% endif %}
			</h4>
		</div>
		<div class="item_content">
			{{ post.content }}
		</div>
	</article>
	<hr/>
{% endfor %}
