<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>

    <body>
      <div id="site">
        <div id="head">
          <div id="head-content">
            <div id="about">
              <h1>Chang Liu</h1>
              <p>
                Welcome to my blog.
              </p>
            </div>
          </div>
        </div>



        <div id="box">
          <div id="navigation">
            <nav>
              <span><a title="home page" href="/">Home</a></span>
              <span><a title="categories" href="/">Categories</a></span>
              <span><a title="about" href="/about/">About</a></span>
            </nav>
          </div>
          <div id="content">
            <div id="articles">
              {{ content }}
            </div>
            <div id="footer">
              <div id="footer-text">
                &copy; 2014 Chang Liu, Inc. All rights reserved.
              </div> 
            </div>        
          </div>
        </div>
      </div>



    </body>
</html>
