<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>

    <body>
      <div id="site">
        <div id="head">
          <div id="head-content">
            <div id="about">
              <h1>Chu, I love you so much.</h1>
              <p>
                charles_liuchang@outlook.com
              </p>
            </div>
          </div>
        </div>

        <div id="box">
          <div id="content">
            <div id="articles">
              {{ content }}
            </div>
            <div id="footer">
              <a href="https://github.com/ChangLiuNJU">Chang Liu's Github</a>  
            </div>        
          </div>
        </div>
      </div>
    </body>
</html>
